<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="studentId" [value]="service.formData.studentId" />
    <input type="hidden" name="institutionId" [value]="service.formData.institutionId" />
    <div class="form-group">
        <label>First Name</label>
        <input class="form-control form-control-lg" placeholder="First Name" name="firstName"
            #firstName="ngModel" [(ngModel)]="service.formData.firstName"
            required [class.invalid]="firstName.invalid && firstName.touched">
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input class="form-control form-control-lg" placeholder="Last Name" name="lastName"
            #lastName="ngModel" [(ngModel)]="service.formData.lastName"
            required [class.invalid]="lastName.invalid && lastName.touched">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Institution Name</label>
            <input type="password" class="form-control form-control-lg" placeholder="Institution Name" name="institutionName"
                #institutionName="ngModel" [(ngModel)]="service.formData.institutionName"
                required [class.invalid]="institutionName.invalid && institutionName.touched">
        </div>
        <div class="form-group col-md-6">
            <label>Loan Amount</label>
            <input class="form-control form-control-lg" placeholder="00.00" name="loanAmount"
                #loanAmount="ngModel" [(ngModel)]="service.formData.loanAmount"
                required maxlength="10" minlength="3" [class.invalid]="loanAmount.invalid && loanAmount.touched">
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
    </div>
</form>